body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    background-color: #0e1e85;
    margin: auto;
    transition: 0.5s;
}
header {
    width: 100%;
}
.nav-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
}
.logo img{
    width: 72px;
}
.nav-items a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}
.nav-items a:hover {
    color: #007bff; 
    text-decoration: underline;
}
.shopping {
    display: flex;
    align-items: center;
}

.shopping img {
    height: 60px; 
    margin-right: 5px;
    cursor: pointer;
}

.quantity {
    background-color: #f44a0c;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 12px;
    min-width: 70%;
    max-width: 70%;
    margin: auto;
    justify-content: center;
}

.card {
    position: fixed;
    top: 0;
    width: 500px;
    left: 100%;
    background-color:rgb(208, 205, 205);
    height: 100vh;
    transition: 0.5s;
    font-weight: bold;
}

.card .cart{
    background-color: #0e1b6e;
}

.card h2 {
    font-weight: bolder;
    margin: 0;
    color: #fff;
    font-size: 40px;
    padding: 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.card .checkout {
    position: absolute;
    bottom: 2px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
}

.card .checkout div {
    background-color: #de3610;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkout div:nth-child(2) {
    background-color: #0a31b1;
    color: #ffffff;
    font-weight: bold;
}

.active .card {
    left: calc(100% - 500px);
}

.list .item {
    text-align: center;
    background-color:rgb(234, 232, 232);
    padding: 16px;
    border-radius: 10px;
    transition: transform 0.2s;
    font-weight: bold;
    font-size: large;
    max-width: 280px;
    min-width: 280px;
    height: 320px;
    position: relative;
}

.list .item:hover {
    transform: scale(1.05);
}

.list .item img {
    width: 75%;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px 0;
}

.list .item button {
    background-color: #004ab1;
    color: #ffffff;
    padding: 10px;
    width: 200px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 60px;
    bottom: 10px;

    img{
        width: 25px;
        position: absolute;
        right: 12px;
        top: 8px;
    }
}

.listcard  li {
    display: grid;
    grid-template-columns: 80px repeat(3, 1fr);
    row-gap: 10px;
    margin-bottom: 10px;
}

.listcard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listcard  li img {
    width: 80px;
    border-radius: 50px;
}

.listcard button {
    width: auto;
    background-color: #004ab1;
    border: none;
    color: #ffffff;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.listcard  .count {
    margin: 0 10px;
}

.listcard {
    max-height: 500px; 
    overflow-y: auto; 
}

.listcard::-webkit-scrollbar {
   display: none;
}